* {
    margin: 0 auto;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }
  
  .columns {
    display: flex;
  }
  
  body {
    width: 1000px;
  }
  
  .nav {
    display: flex;
    border: 3px solid #cccccc;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cccccc;
  }
  .nav button {
    background-color: royalblue;
    color: white;
    border: 5px solid black;
    border-width: 3px;
    padding: 5px 15px;
    box-shadow: black 3px 3px;
    font-weight: bold;
  }
  
  #search {
    padding: 5px;
    width: 400px;
  }
  
  .box-1 {
    flex-direction: column;
    flex: 1;
    margin-top: 1em;
    border: 3px solid black;
    margin-right: 10px;
    height: 150px;
    padding-left: 10px;
    padding: 20px;
  }
  
  .box-1 button {
    margin-top: 10px;
    background-color: #ffd966;
    color: black;
    border: 5px solid black;
    border-width: 3px;
    padding: 5px 15px;
    box-shadow: black 3px 3px;
    font-weight: bold;
  }
  
  .box-2 {
    flex-direction: column;
    border: 3px solid black;
    margin-top: 1em;
    height: 100px;
    width: 200px;
    padding: 10px;
  }
  
  .box-2 button {
    margin-top: 10px;
    background-color: #93c47d;
    color: black;
    border: 5px solid black;
    border-width: 3px;
    padding: 5px 35px;
    box-shadow: black 3px 3px;
    font-weight: bold;
  }
  
  .box-3 {
    height: 150px;
    width: 720px;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 1em;
    margin-left: -2px;
    padding: 20px;
  }
  
  .box-3 button {
    margin-top: 10px;
    background-color: #ffd966;
    color: black;
    border: 5px solid black;
    border-width: 3px;
    padding: 5px 15px;
    box-shadow: black 3px 3px;
    font-weight: bold;
  }
  
  .text {
    display: flex;
    float: right;
  }