@charset "ISO-8859-1";


* {
	margin: 0;
	padding: 0;
}

/* Header Styles */
h1 {
	color: #ffb6c2;
	font-weight: bold;
}

/* Table Styles */
.custom-table {
	  border: 1px solid;
	  color: #ffb6c2;
	
}