img {
    height: 200px;
}

#container {
    width: 950px;
    height: 800px;
    background-color: #c2e2eecf;
    margin: 0px;
    padding: 0px;
}

#top-sec {
    height: 200px;
    background-color: #56c3fd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

#mid-sec {
    height: 200px;
    background-color: #cda2ba;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

#bot-sec {
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

p {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}